// top
#top {
    background-image:url("../img/top.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    height: 100vh;
    width: 100vw;
    padding-top: 200px;
    h1{
        font-family: 'Vollkorn', serif;
        letter-spacing: 2px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    p{
        font-family: 'Sawarabi Mincho', sans-serif;
        font-size: 20px;
        margin-bottom: 100px;
        letter-spacing: 2px;
    }
    a {
        font-family: 'Vollkorn', serif;
        letter-spacing: 2px;
    }
}