// ベース色
$color-main:#94A586;
$color-sub:#87B287;
$color-comment:#D6E8D6;

// テキスト色
$color-text:#212529;
$color-error:#FF0000;

// ボーダー色
$color-border:#707070;

// サンプル画像
$color-img:#D6E8D6;

// メッセージアニメーション
$color-msg:rgba(122,206,230,0.6);