.balloon-comment {
    position: relative;
    display: inline-block;
    margin: 1.5em 15px 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: $color-text;
    font-size: 16px;
    background: $color-comment;
    text-align: left;
  }
  
  .balloon-comment:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid $color-comment;
  }
  
  .balloon-comment {

    p {
    margin: 0;
    padding: 0;
    }
    
  } 